/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  justify-items: center;
  background-color: var(--background-color, #fff);
  background-image: var(--background-gradient-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-color);
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-normal-weight);
}

.header {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  place-content: end center;
  font-family: var(--accent-font);
  text-transform: uppercase;
  margin-block: 100px;
  border: 2px solid var(--main-color, #000);
  inline-size: var(--content-inline-size);
  min-block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  background-color: var(--background-color, #fff);
}

.header__logo {
  font-weight: var(--accent-font-normal-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  cursor: default;
}

.header__title {
  margin-block-start: 20px;
  font-weight: var(--accent-font-normal-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 25px 0 25px 20px;
}

.theme-menu__item {
  font-size: var(--button-font-size);
}

.theme-menu__button {
  position: relative;
  border: none;
  font-weight: var(--accent-font-normal-weight);
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: shift 0.5s infinite ease-in-out alternate;
  inset-inline-start: -19px;
  inset-block-start: 0;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--main-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 100px;
}

.card {
  inline-size: var(--content-inline-size);
  border: 2px solid var(--main-color, #000);
  font-size: var(--content-font-size);
  background-color: var(--background-color, #fff);
}

.card__title {
  margin: 5px 10px 4px;
  font-size: inherit;
  line-height: 1.22;
  font-variation-settings: "wght" var(--main-font-bold-weight);
}

.card__image-container {
  position: relative;
  border-block: 2px solid var(--main-color, #000);
}

.label-image {
  content: "";
  position: absolute;
  top: 25px;
  z-index: 1;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--button-font-size);
  /* text-shadow: -1px -1px var(--background-color),
    -1px 1px var(--background-color), 1px -1px var(--background-color),
    1px 1px var(--background-color); */
  text-shadow: 0 0 1px (--background-color);
  mix-blend-mode: hard-light;
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
}

@supports (text-stroke: 1px var(--background-color)) or
  (-webkit-text-stroke: 1px var(--background-color)) {
  .label-image {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__paragraph {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
  font-size: inherit;
  line-height: var(--extra-line-height);
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
  margin: 0 25px 25px;
  font-size: var(--button-font-size);
}

.card__icon-button {
  display: flex;
  align-items: flex-end;
  min-block-size: 38px;
  border: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  background-color: transparent;
  transition: outline 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
}

.text-uppercase {
  text-transform: uppercase;
}

.like-icon {
  display: block;
  inline-size: 39px;
  block-size: 36px;
}

.button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  padding: 11px 17px 6px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.card__like-button {
  min-inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  inline-size: fit-content;
  margin-block-start: 1px;
  color: var(--accent-button-color);
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  line-height: 150%;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-inline-size: 339px;
  padding: 15px 20px;
}

.save-icon {
  position: relative;
  z-index: 1;
  display: block;
  inline-size: 21px;
  block-size: 21px;
  fill: var(--accent-button-color);
  mix-blend-mode: difference;
}

.animate_button::after {
  content: "";
  position: absolute;
  z-index: 0;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.animate_button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.dialog_popup {
  max-inline-size: 357px;
  min-block-size: min-content;
  border: 2px solid var(--main-color, #000);
  padding: 30px;
  background-color: var(--background-color);
}

.dialog_popup::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.dialog_popup[open] {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.popup__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.dialog-icon {
  display: block;
  inline-size: 39px;
  block-size: 38px;
  fill: var(--accent-button-color);
  mix-blend-mode: difference;
}

.dialog_close-button {
  width: 100%;
  min-height: 38px;
  padding: 9px 17px;
}

.card__image-stairs {
  filter: contrast(85%) saturate(700%);
}

.card__image-blank {
  filter: opacity(60%) saturate(700%);
}

.card__image-training {
  filter: brightness(0.7) hue-rotate(15deg);
}

.card__image-dog {
  filter: grayscale(0.4) sepia(0.7);
}

.card__image-surf {
  filter: sepia(0.9) saturate(700%);
}

.card__image-climb {
  filter: grayscale(0.8) blur(1px);
}

.card__picture-cocktails {
  filter: contrast(70%) saturate(60%);
}

.card__picture-mountain {
  filter: contrast(90%) saturate(200%);
}

@media (width <= 375px) {
  .header__logo {
    font-size: clamp(2.625rem, -0.5833rem + 15.5556vw, 3.0625rem);
  }

  .save-button {
    max-inline-size: 310px;
  }

  .save-icon {
    inline-size: 29px;
    block-size: 28px;
  }

  .dialog_popup {
    max-inline-size: 341px;
    padding-inline: 40px;
  }
}
